
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login Form</h3>
            <form [formGroup]="form">
                <div class="form-group">
                    <input
                    formControlName="email"
                    id="Email"
                     type="text"
                     class="form-control"
                      placeholder="Your Email*"
                      />
                      
                <div  *ngIf="form.controls.email.errors.required&&form.controls.email.touched" class="alert alert-danger">This feild is required </div>
                <div *ngIf=" form.controls.email.touched&&form.controls.email.errors.Pattern" class="alert alert-danger">
                    E-mail doesn't match the pattern! </div>
                </div>
                <div class="form-group">
                    <input 
                    formControlName="Password"
                    id ="password"                   
                     type="password"
                     class="form-control" 
                     placeholder="Your Password*" 
                      />
                      <div  *ngIf="form.controls.Password.touched&& !form.controls.Password.valid" class="alert alert-danger">This feild is required </div>
                     
                </div>
                <div class="form-group">
                    <input 
                    type="submit"
                     value="Login"
                      class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forget Password?</a>
                </div>
            </form>
        </div>
    </div>