<div class="incoming_msg">
    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"
            alt="sunil"> </div>
    <div class="received_msg">
        <div class="received_withd_msg">
            <p>We work directly with our designers and suppliers,
                and sell direct to you, which means quality, exclusive
                products, at a price anyone can afford.</p>
            <span class="time_date"> 11:01 AM | Today</span>
        </div>
    </div>
</div>