<div class="ht__bradcaump__area bg-image--5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Sign Up</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" routerLink="">Home</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="container register-form">
    <div class="form">
        <div class="note"></div>
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" required ngModel name="Firstname" #firstname='ngModel' placeholder="Your First Name *" value="" />
                        <div class="alert alert-danger" role="alert" *ngIf="firstname.touched &&!firstname.valid">This feild is required</div>
                    </div>
                    <div class="form-group">
                        <input type="email" ngModel name="Email" required #Email2='ngModel' class="form-control" placeholder="Your E-mail *" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="" />
                        <div class="alert alert-danger" role="alert" *ngIf="Email2.touched && Email2.errors?.required">this feild is required</div>
                        <div class="alert alert-danger" role="alert" *ngIf="Email2.errors?.pattern">This is not a valid Email2!!!</div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" required ngModel name="lastName" #lastName='ngModel' placeholder="Your Last Name *" value="" />
                        <div class="alert alert-danger" role="alert" *ngIf="lastName.touched && lastName.invalid">this feild is required</div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" required ngModel name="Password" #Password='ngModel' placeholder="Password*" value="" />
                        <div class="alert alert-danger" role="alert" *ngIf="Password.touched && Password.invalid">this feild is required</div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" required ngModel name="ConfirmPassword" #ConfirmPassword='ngModel' placeholder="Confirm Password *" value="" />
                        <div class="alert alert-danger" role="alert" *ngIf="ConfirmPassword.touched &&!ConfirmPassword.valid">this feild is required</div>
                        <div class="alert alert-danger" role="alert" *ngIf="ConfirmPassword.touched && Password.value != ConfirmPassword.value">Your Password doesn't match! </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="City" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone " value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address" value="" />
                    </div>
                </div>

            </div>
            <button type="button" class="btnSubmit">Sign Up</button>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-12">
            <div class="my__account__wrapper">
                <form name="signUpForm" #signUpForm='ngForm' (ngSubmit)="submit(signUpForm.value)">

                    <div class="account__form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group input__box">
                                    <input type="text" class="form-control" required ngModel name="FirstName" #firstname='ngModel' placeholder="Your First Name *" value="" />
                                    <div class="alert alert-danger" role="alert" *ngIf="firstname.touched &&!firstname.valid">This feild is required</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input__box">
                                    <input type="text" class="form-control" required ngModel name="LastName" #lastName='ngModel' placeholder="Your Last Name *" value="" />
                                    <div class="alert alert-danger" role="alert" *ngIf="lastName.touched && lastName.invalid">this feild is required</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input__box">
                                    <input type="email" ngModel name="Email" required #Email='ngModel' class="form-control" placeholder="Your E-mail *" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="" />
                                    <div class="alert alert-danger" role="alert" *ngIf="Email.touched && Email.errors?.required">this feild is required</div>
                                    <div class="alert alert-danger" role="alert" *ngIf="Email.errors?.pattern">This is not a valid Email!!!</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input__box">
                                    <input type="email" ngModel name="ConfirmEmail" required #ConfirmEmail='ngModel' class="form-control" placeholder="Confirm Your E-mail *" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="" />
                                    <div class="alert alert-danger" role="alert" *ngIf="ConfirmEmail.touched && ConfirmEmail.errors?.required">this feild is required</div>
                                    <div class="alert alert-danger" role="alert" *ngIf="ConfirmEmail.errors?.pattern">This is not a valid Email!!!</div>
                                    <div class="alert alert-danger" role="alert" *ngIf="ConfirmEmail.value != Email.value">Both Emails do not Match!! </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input__box">
                                    <input type="password" class="form-control" required ngModel name="Password" #Password='ngModel' placeholder="Password*" value="" />
                                    <div class="alert alert-danger" role="alert" *ngIf="Password.touched && Password.invalid">this feild is required</div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group input__box">
                                    <input type="password" class="form-control" required ngModel name="ConfirmPassword" #ConfirmPassword='ngModel' placeholder="Confirm Password *" value="" />
                                    <div class="alert alert-danger" role="alert" *ngIf="ConfirmPassword.touched &&!ConfirmPassword.valid">this feild is required</div>
                                    <div class="alert alert-danger" role="alert" *ngIf="ConfirmPassword.touched && Password.value != ConfirmPassword.value">Your Password doesn't match! </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input__box">
                                    <input type="text" ngModel #City='ngModel' class="form-control" placeholder="City" value="" name="City" />

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input__box">
                                    <input type="number" ngModel #Phone='ngModel' class="form-control" placeholder="Phone " value="" minlength="10" maxlength="10" name="PhoneNumber" />

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group input__box">
                                    <input type="text" ngModel #Address='ngModel' class="form-control" placeholder="Address" value="" name="Address" />

                                </div>
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <div class="form__btn col-5">
                                <input type="submit" value="Register">
                                <!-- <button>Register</button> -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<!-- <div class="container" >
    <h3>Registeration</h3>
      <form>
        <div class="form-group" class="row">
          <div  class="col-md-3">
          <label for="firstName"> </label>
          <input required minlength="3"
           maxlength="10" 
           ngModel name="Firstname" 
            #firstname='ngModel'  
             type="text"
              class="form-control"
                id="Firstname" placeholder="First Name" >
         <div class="alert alert-danger" role="alert" 
         *ngIf="firstname.touched &&!firstname.valid">this feild is required</div>
          
          
         </div>
        
  
         <div class="form-group" class="row" > 
          <div class="col-md-6">
          <label for="lastName"></label>
          <input  required minlength="3"
           ngModel name="lastName"
            #lastName='ngModel' 
            type="text"  class="form-control" 
            id="Lastname" required placeholder="Last Name">
          <div class="alert alert-danger" role="alert" *ngIf="lastName.touched &&!lastName.valid">this feild is required!</div>
          </div>
        </div>
      </div>
  
          <div class="form-group" class="row">
          <div class="col-md-3">
          <label for="Email"></label>
          <input required ngModel name="Email" #Email='ngModel'
           pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  
            type="text" class="form-control" id="Email" placeholder="Email">
          <div class="alert alert-danger"
           role="alert" *ngIf="Email.touched&& !Email.errors.required" >this feild is required!</div>
          <div  class="alert alert-danger"
           role="alert" *ngIf= "Email.errors.pattern">E-mail doesn't match the pattern!</div> 
           </div>
        </div>
  
        <div class="form-group" class="row" >
          <div class="col-md-5">
          <label for="Password">Password</label>
          <input required ngModel name="password" #password='ngModel' type="password" class="form-control" id="password">
          </div> -->


<!-- <div class="form-group" class="row">
          <div class="col-md-5">
          <label for="confirmPassword">Confirm Password</label>
          <input required ngModel name="confirmPassword" #confirmpassword='ngModel' type="password" class="form-control" id="confirmPassword">
          <div class="alert alert-danger" role="alert" *ngIf="confirmPassword.touched && confirmPassword!=password" >Password confirmation must match your password!</div>
          </div>
        </div>
  
         <div class="form-group" class="row" >
          <div class="col-md-5">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="Phone">
          </div>
        </div>
  
        <div class="form-group"class="row" >
           <div class="col-md-5">
          <label for="City">City</label>
          <input type="text" class="form-control" id="City">
            </div>
        </div>
   
        <div class="form-group" class="row" >
          <div class="col-md-5">
          <label for="">Address</label>
          <input type="text" class="form-control" id="Address">
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Sign Up" class="btn btn-primary" />
      </div> 
  
  
         </form>
  
     
     
    -->