/*start edit profile*/

.edit-profile h1{
    color: rgb(48, 75, 86);
    font-family: cursive;
    font-weight: bold;
}
.edit-profile .img-circle{
    width: 150px;
}
.edit-profile input{
    border-radius: 50px;
}
.edit-profile label{
    color: rgb(48, 75, 86);
}
.edit-profile .form-control{
    color: rgb(48, 75, 86);
}
/*end edit profile*/
.container{
   
}

.dataform{
   width: 815px;
}
.dataform .btn{
    margin: 0px 5px 0px 5px;
}