<!--start edit profile-->
<section class="edit-profile">
    <div class="container">
      <h2>My Profile</h2>
      <div class="row">
        <!-- left column -->
        
        <!-- edit form column -->
        <div class="col-md-9 personal-info ">
          <form class="form-horizontal dataform" role="form">
            <div class="form-group" >
              <label class="col-lg-7 control-label">Personal name:</label>
              <!-- <div class="col-lg-7"></div>
                <label class="control-label"></label>
              </div> -->
            </div>
            <div class="form-group">
              <label class="col-lg-7 control-label">Email:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-7 control-label">Address:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text"  value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-7 control-label">City:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>
  </section>
  <!--end edit profile-->