<div class="mesgs">
    <div class="msg_history" *ngFor="let chat of chats">
        <div class="incoming_msg" >
            <div class="incoming_msg_img"> <img src='{{chat?.RecieverUser.PhotoUrl}}'  class="img-circle" style="width:100px; height:40px;" alt='{{chat?.RecieverUser.PhotoUrl}}'>
            </div>
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>{{chat?.Message}}</p>
                    <span class="time_date"> {{chat?.DateOfMessage}}</span>
                </div>
            </div>
        </div>
        <div class="outgoing_msg">
            <div class="sent_msg">
                <p>{{chat?.Message}}</p>
                <span class="time_date"> {{chat?.DateOfMessage}}</span>
            </div>
        </div>
    </div>
    <div class="type_msg">
        <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" />
            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </div>
    </div>