<div class="maincontent bg--white pt--80 pb--55">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="wn__single__product">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="wn__fotorama__wrapper">
                                <img src="http://demo.devitems.com/boighor-v3/images/books/1.jpg">
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="product__info__main">
                                <h1>Chaz Kangeroo Hoodie</h1>
                                <div class="product-reviews-summary d-flex">
                                    <ul class="rating-summary d-flex">
                                        <li><i class="zmdi zmdi-star-outline"></i></li>
                                        <li><i class="zmdi zmdi-star-outline"></i></li>
                                        <li><i class="zmdi zmdi-star-outline"></i></li>
                                        <li class="off"><i class="zmdi zmdi-star-outline"></i></li>
                                        <li class="off"><i class="zmdi zmdi-star-outline"></i></li>
                                    </ul>
                                </div>
                                <!-- <div class="price-box">
                                    <span>$52.00</span>
                                </div> -->
                                <div class="product__overview">
                                    <p>Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises
                                        superior warmth with every wear. Thick material blocks out the wind as ribbed
                                        cuffs and bottom band seal in body heat.</p>
                                    <p>Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises
                                        superior warmth with every wear. </p>
                                </div>

                                <div class="product_meta">
                                    <span class="posted_in">Categories:
                                        <a href="#">Adventure</a>,
                                        <a href="#">Kids' Music</a>
                                    </span>
                                </div>
                                <div class="product__info__detailed">

                                    <div class="pro_details_nav nav justify-content-start" role="tablist">
                                        <p>User have Book</p>
                                        <app-user-list></app-user-list>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>