
<table class="table table-bordered tabrequest">
    <thead class="thead-dark">
      <tr>
          <th>ID</th>
        <th scope="col">Sender User</th>
        <th scope="col">Reported User</th>
        <th scope="col">Complaint</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>user1</td>
        <td>reported1</td>
        <td>dddddd</td>
        <td>
        <button class="btn btn-danger">Block</button> 
       </td>
      </tr>
    </tbody>
  </table>