<div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
    <div class="row">
        <!-- Start Single Product -->
        <div *ngFor="let book of books" class="product product__style--3 col-lg-3 col-md-4 col-sm-6 col-12">
            <app-book-item [book]=book>

            </app-book-item>
        </div>

    </div>
    <ul class="wn__pagination">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
    </ul>
</div>