<div class="slider-area  slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
    <div #SliderDiv class="slide animation__style10 bg-image--1 fullscreen align__center--left" #divBackground>
        <div class="col-lg-1 d-flex align-items-center justify-content-center" style="font-size: xx-large;">
            <i class="fa fa-arrow-circle-o-left" aria-hidden="true" (click)="nextClick(divBackground)"></i>

        </div>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-10 ">
                    <div class="slider__content ">
                        <div class="contentbox ">
                            {{currentSliderData.qoutes}}
                            <a class="shopbtn " href="# ">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 d-flex align-items-center justify-content-center " style="font-size: xx-large; ">
            <i class="fa fa-arrow-circle-o-right " aria-hidden="true " (click)="prevClick(divBackground) "></i>
        </div>
    </div>
</div>